.box-individual>img {
    border-radius: 6px;
    width: 100%;
}

.box-individual {
    box-shadow: rgb(0, 0, 0) 0px 0px 8px;
    border-radius: 6px;
    padding-bottom: 20px;
    transition: all ease .5s;
    width: 272px;
}

.box-horarios>.horarios {
    font-weight: 600;
    font-size: 13px;
}

.coleta-titulo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding-bottom: 10px;
}

.coleta-titulo>span {
    background-color: #2057E3;
    width: 15px;
    height: 15px;
    border-radius: 100px;
}

.box-horarios {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 25px;
}

.box-individual {
    position: relative;
    overflow: hidden;
}

.box-individual:hover>.animacao:first-of-type {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, transparent, #2057E3);
    animation: animar1 2s linear infinite;
}
.box-individual:hover>.animacao:nth-of-type(2) {
    position: absolute;
    top: 0;
    right: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(to bottom, transparent, #2057E3);
    animation: animar2 2s linear infinite;
    animation-delay: 1s;
}

.box-individual:hover>.animacao:nth-of-type(3) {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to left, transparent, #2057E3);
    animation: animar3 2s linear infinite;
}

.box-individual:hover>.animacao:last-of-type {
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(to top, transparent, #2057E3);
    animation: animar4 2s linear infinite;
    animation-delay: 1s;
}

/* ---- Keyframes ----*/

@keyframes animar1 {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

@keyframes animar2 {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(100%);
    }
}

@keyframes animar3 {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes animar4 {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(-100%);
    }
}