*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*--secondary-font*/
/* --primary-font */
.container-cadastro{
    display: flex;
    width: 100vw;
    height: 100vh;
    display: flex;
    background: linear-gradient(0deg, rgba(109, 114, 128, 0.00) -8.39%, rgba(13, 37, 80, 0.62) 69.37%, #0D2550 98.93%), url(../../assets/img/fundo-cadastro.svg) no-repeat;
    background-size: cover;
}
.ladoEsquerdo{

    width: 100%;
}
form{

    background-color: white;
    width: 100%;
    border-radius: 0px 26px 26px 0px;
    height: 100%;

}
.ladoEsquerdo h1{

    color: var(--BW-S80, #1B1B1B);

font-family: var(--primary-font);
font-size: 50px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.ladoEsquerdo p{
   margin-left: 3%;
    font-family: var(--primary-font);
font-style: normal;
font-weight: 600;
line-height: normal;
}

.form-field{
    border-radius: 25px;
    background: #D9D9D9;
    width: 300px;
    font-family: var(--primary-font);
   height: 40px;
   border: none;

   padding-left: 20px;
   padding-right: 40px;
}


.name-cad input{
    
    background-image: url(../../assets/img/nomeCad.svg);
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: center right 10px;
}
.email-cad input{
    background-image: url(../../assets/img/email.svg);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center right 10px;
}
.cpf-cad input{
    background-image: url(../../assets/img/cpfCad.svg);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center right 10px;
  
    
}
.password-cad input{
    background-image: url(../../assets/img/senha.svg);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center right 10px;
}
.ConfirmPassword-cad input{
    background-image: url(../../assets/img/senha.svg);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center right 10px;
}

.form-error{

    color: red;    font-family: var(--secondary-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 3%;
    display: block;
  
}
.form-field{
    padding: 0 3%;


}
.form-field::placeholder{
 font-family: var(--secondary-font);
 font-weight: 400;
  font-size: 16px;

}
.parteinferiorCad {
    margin: 1% 0 0 0;
    display: flex;
    flex-direction: column;

}
.parteinferiorCad .buttonCad{
    color: #FFF;

    font-family: var(--primary-font);
font-size: 22px;
font-style: normal;
font-weight: 500;
line-height: normal;

    width: fit-content;
     
    margin: auto;
 
    padding: 12px 70px;
        


    text-decoration: none;
border-radius: 32px;
background: #0F3FB9;

box-shadow: 1.32px 5.40px 5.40px 0px rgba(0, 0, 0, 0.25);


}
.buttonCad:hover{

    background: #0C2F94;
}
.jatemconta{

    text-align: center;
    text-decoration: none;
}
.jatemconta:hover{

   color: #5d8bff;
}

.jatemconta span:hover{

    color: #5d8bff;
}

.form-align{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name-cad p,.email-cad p,.cpf-cad p,.password-cad p,.ConfirmPassword-cad p{
 margin: 4% 0 2% 0 ;
}
.img-cad img{
    width: 200px;
    height: 60px;
    margin: 50px;
    text-align: center;
}

form .ladoEsquerdo{
    width: 100%;
    background-color: white;
}
.ladoDireito{
    width: 60%;
}
.img-cad{

    display: flex;
    justify-content: center;
}

.ladoEsquerdo > a button{

    width: 125px;
    height: 53px;
    border-radius: 15px;
    border: 2px solid #000;
    font-family: var(--primary-font);
    font-size: 20px;
    background: rgba(255, 255, 255, 0.00);
    margin: 25px;
    cursor: pointer;
    position: absolute;
    top: 10px; 
    right: 68%;
    transform: translateX(-220%);
}

.parteinferiorCad p{
  margin: 0;
    font-weight: 400;
}
.login-area {
    color: var(--B-S80, #0F3FB9);
  text-decoration: none;
}
.login-area:hover {
    color: var(--B-S80, #7e9ff1);
}

@media screen and (max-width: 1337px) {
    .ladoEsquerdo > a button {

        top:-16px;
        right: 60%
    }
    form{
        justify-content: none;
        padding: auto;
    }

}

@media (max-width: 1100px){
    .container-cadastro h1{
        font-size: 30px;
    }

    .ladoEsquerdo > a button{
        right: 45%;
        
    }
}

@media (max-width: 770px){

    .ladoEsquerdo > a button{
        right: 35%;
    }
}

@media (max-width: 670px){
    .container-cadastro{
        flex-direction: column;
    }

    .ladoEsquerdo{
        height: 100vh;
    }

    .ladoDireito{
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .ladoEsquerdo a button{
        width: 110px;
    }

    
}

@media (max-width: 590px){
    .container-cadastro{
        flex-direction: column;
    }
    
    .ladoEsquerdo a button{
       right: -5%;
    } 
    

    .ladoDireito{
        width: 100%;
        height: 50%;
    }
}

@media (max-width: 490px){
    .container-cadastro h1{
        font-size: 25px;
        margin-top: 70px;
    }
     .ladoDireito{
        height: 100%;
        
        
     } 

    .ladoEsquerdo a button{
       right: -20%;
    } 

    
}

@media (max-width: 420px){
    .container-cadastro h1{
        font-size: 12px;
       
    }
    .ladoEsquerdo a button{
       right: -35%;
       height: 30px;
    }   
    .container-cadastro h1{
        font-size: 25px;
        margin-top: 70px;
    }
   
}

@media (max-width: 370px){
    

    .ladoEsquerdo a button{
       right: -37%;
    } 
  
}

@media (max-width: 340px){

    .ladoEsquerdo a button{
       right: -48%;
    } 
  
}