.card-artesoes{
    position: relative;
    width: 600px;
    height: 350px;
    margin: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 20px;
    background: linear-gradient(135deg,#000,rgb(13, 6, 112));
    color: #fff;
    box-shadow: rgb(0, 0, 0) 0px 1px 25px;
}

.card-artesoes img{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 420px;
    transition: 0.5s;
}

.card-artesoes:hover img{
    left: 80%;
    height: 520px;
    transition: 0.5s;
}

.card-artesoes .container-artesoes{
    position: relative;
    width: 50%;
    left: 20%;
    padding: 20px 20px 20px 40px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.card-artesoes:hover .container-artesoes{
    opacity: 1;
    visibility: visible;
    left: 0%;
}

.card-artesoes .container-artesoes h2{
   width: 270px;
   font-size: 1.8em;
   margin-bottom: 60px;
}

.card-artesoes{
    overflow: hidden;
}

.card-artesoes:hover{
    overflow: visible;
}

.card-artesoes:hover .animacao-artesoes{
    display: none;
}

.card-artesoes > .animacao-artesoes:first-of-type {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(to right, transparent, #2057E3);
    animation: animar1 3s linear infinite;
}
.card-artesoes > .animacao-artesoes:nth-of-type(2) {
    position: absolute;
    top: 0;
    right: 0;
    width: 5px;
    height: 100%;
    background: linear-gradient(to bottom, transparent, #2057E3);
    animation: animar2 3s linear infinite;
    animation-delay: 1.5s;
}

.card-artesoes > .animacao-artesoes:nth-of-type(3) {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(to left, transparent, #2057E3);
    animation: animar3 3s linear infinite;
}

.card-artesoes > .animacao-artesoes:last-of-type {
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background: linear-gradient(to top, transparent, #2057E3);
    animation: animar4 3s linear infinite;
    animation-delay: 1.5s;
}



/* ---- Keyframes ----*/

@keyframes animar1 {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

@keyframes animar2 {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(100%);
    }
}

@keyframes animar3 {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes animar4 {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(-100%);
    }
}

@media (max-width: 1250px){
    .card-artesoes{
        width: 430px;
        height: 800px;
    }

    .card-artesoes img{
        height: 340px;
        
    }
    
    .card-artesoes:hover img{
        height: 400px;
    }
}

@media (max-width: 550px){
    .card-artesoes{
        width: 390px;
        height: 650px;
    }

    .card-artesoes img{
        height: 310px;
        
    }
    
    .card-artesoes:hover img{
        height: 340px;
    }
}

