* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    font-family: var(--primary-font);
    overflow-x: hidden;
}

#container-home {
    width: 100vw;
    height: 100%;
}

.header-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../assets/img/fundo.png);
    background-size: cover;
    background-position: center;
    position: relative;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100vw;
    padding-bottom: 30px;
}

.sessao-header {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 70px;
    max-width: 1200px;
    align-items: center;
    text-align: center;
}

.sessao-header>video {
    width: 700px;
    border-radius: 20px;
}

.sessao-header>p {
    color: #fff;
    font-size: 31px;
    font-family: 'Roboto', sans-serif;
    line-height: 45px;
    padding: 0 30px;
}

.sessao-header>p>span,
.cor {
    color: #2057E3;

}

.button-artesao {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    padding: 1.100em 3.600em;
    font-weight: bold;
    border-radius: 0.5em;
    margin: auto;
    letter-spacing: 2px;
    cursor: pointer;
    max-width: 20rem;
    border: 3px solid #2057E3;
    transition: all 2s;
    z-index: 1;
    font-weight: 900;
}

.btn:hover {
    transition: all 2s;
}

.top-fill {
    position: relative;
    color: #fff;
    background: transparent;
    overflow: hidden;
    transition: color 0.5s ease-in, transform 0.5s ease-in-out;
}

.top-fill::before {
    content: "";
    position: absolute;
    height: 90px;
    width: 500px;
    background: #2057E3;
    transform: translate(-60px, 50px);
    transition: transform 0.45s ease-in;
}

.top-fill:hover::before {
    content: "";
    transform: translate(-60px, -30px);
    z-index: -1;
}

.top-fill:hover {
    color: #000;
}

.top-fill:active {
    transform: scale(0.9);
}

main {
    height: 65%;
    width: 100%;
}

.sessao-coleta {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 200px 10px 60px 10px;
    width: 70%;
}
.leaflet-container {
    width: 65vw;
    height: 65vh;
    border:  solid 2px #2057E3; 
    border-radius: 15px;
  }
.sessao-coleta .descricao-coleta{
    width: 100%;
}

.sessao-header p span{
    font-weight: 500;
}

.box-coleta {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    height: 90%;
    flex-wrap: wrap;
    margin-top: 60px;
}

.sessao-coleta>h1,
p,
h2 {
    font-family: 'Poppins', sans-serif;

}

.sessao-coleta>h1>span {
    color: #2057E3;
}

.sessao-coleta>p>span {
    color: #2057E3;
}

.sessao-coleta > p {
    font-size: 20px;
    font-weight: 700;
    max-width: 1000px;
}

.sessao-coleta>h1 {
    font-size: 57px;
    font-weight: 1000;
}

.box-criatividade {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

/* criação da tag de artesão*/
#art {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    position: relative;
    width: 100%;
}

#texto {
    color: white;
    margin: 25px;
    padding: 25px;
    z-index: 1;

}

#texto h1 {
    padding-left: 30px;
    margin-right: 40%;
}

#texto p {
    margin-right: 40%;
    padding: 30px;
}

#img {
    position: absolute;
    right: 110px;
}

#img img {
    height: 490px;
    border-radius: 8px;
    margin-top: 50px;
    animation: floatImage 4s ease-in-out infinite;
    animation-delay: 3.1s;
}

#art-botao {
    margin-top: 10px;
    margin-left: 25px;
}

#art-botao button {
    background-color: transparent;
    border: #1C358C solid 2px;
    color: white;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: .3s ease;
}

#art-botao button:hover {
    background: linear-gradient(91deg, #1C358C -6.25%, #1568B5 116.9%);
    transform: scale(1.1);
}

#parceiros {
    margin: 250px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#titulo h1 {
    margin-bottom: 40px;
    text-align: center;
    font-size: 50px;
}

#elementos {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 150px;

}

#elementos>img {
    width: 40%;
    max-width: 150px;
    gap: 100px;
   
}
.empresa {
    width: 40%; 
    max-width: 150px; 
}

/* -------- KEYFRAMES ---------*/

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-50px);
    }

    100% {
        transform: translateY(0);
    }
}

@media (max-width: 1024px) {
    .sessao-coleta>h1 {
        font-size: 40px;
    }

    #img {
        right: 80px;
    }
}


@media (max-width: 950px) {
   #elementos{
    display: flex;
    justify-content: center;
    align-items: center; 
   }

   #parceiros h1{
    display: flex;
    flex-direction: row;
    gap: 20px;
   }
    
}

@media (max-width: 900px) {
    #img {
        right: 50px;
    }
}

@media (max-width: 800px) {
    .sessao-header>video {
        width: 480px;
    }

    #img img {
        height: 400px;
    }
    .sessao-header>p {
        font-size: 24px;  
    }
}

@media (max-width: 767px) {
    #img {
        display: none;
    }

    #texto h1 {
        margin-right: 0;
    }

    #texto p {
        margin-right: 0;
    }
}

@media (max-width: 600px) {
    .sessao-header>video {
        width: 320px;
    }
    .sessao-header>p {
        font-size: 18px;  
        font-weight: 600;
    }
    .button-artesao {
        padding: 1.100em 1.800em;
        font-size: 14px;
    }

}

@media(max-width: 425px) {
    .sessao-coleta>h1 {
        font-size: 30px;
    }

    .sessao-coleta>p {
        font-size: 16px;
    }

    #texto {
        padding: 0;
    }

    #texto h1 {
        font-size: 30px;
        text-align: center;
        padding: 30px 0;
    }

    #texto p {
        padding: 5px 0;
    }

    #art-botao {
        margin: 0;
        padding: 30px 0;
    }

    #art-botao button {
        width: 100%;
    }

    #parceiros h1{
        flex-direction: column;
    }
}

@media (max-width: 320px) {
    .sessao-header>video {
        width: 290px;
    }

    #texto p {
        padding: 5px 20;
    }

    #art-botao {
        padding: 30px 20px;
    }
}