*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    font-family: var(--primary-font);
    overflow-x: hidden;
}

#container-home{
    width: 100%;
    height: 100%;
}

.header-home{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../assets/img/fundo.png);
    background-size: cover;
    background-position: center;
    position: relative;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100%;
    height: 100vh;
}

.sessao-header {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 70px;
    max-width: 1200px;
    align-items: center;
    text-align: center;
}

.sessao-header>video {
    border-radius: 20px;
}

.sessao-header>p {
    color: #fff;
    font-size: 31px;
    font-family: 'Roboto', sans-serif;
    line-height: 45px;
}

.sessao-header>p>span, .cor {
    color: #2057E3;
    
}

.button-artesao {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    padding: 1.100em 3.600em;
    font-weight: bold;
    border-radius: 0.5em;
    margin: auto;
    letter-spacing: 2px;
    cursor: pointer;
    max-width: 20rem;
    border: 3px solid #2057E3;
    transition: all 2s;
    z-index: 1;
    font-weight: 900;
}

.btn:hover {
    transition: all 2s;
}

.top-fill {
    position: relative;
    color: #fff;
    background: transparent;
    overflow: hidden;
    transition: color 0.5s ease-in, transform 0.5s ease-in-out;
}

.top-fill::before {
    content: "";
    position: absolute;
    height: 90px;
    width: 500px;
    background: #2057E3;
    transform: translate(-60px, 50px);
    transition: transform 0.45s ease-in;
}

.top-fill:hover::before {
    content: "";
    transform: translate(-60px, -30px);
    z-index: -1;
}

.top-fill:hover {
    color: #000;
}

.top-fill:active {
    transform: scale(0.9);
}

main {
    height: 65%;
    width: 100%;
}

.sessao-coleta {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 590px;
    margin: 150px;
}

.box-coleta {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    height: 90%;
    width: 100%;
}

.sessao-coleta>h1,
p,
h2 {
    font-family: 'Poppins', sans-serif;

}

.sessao-coleta>h1>span {
    color: #2057E3;
}

.sessao-coleta>p>span {
    color: #2057E3;
}

.sessao-coleta>p {
    font-size: 20px;
    font-weight: 700;
}

.sessao-coleta>h1 {
    font-size: 57px;
    font-weight: 1000;
}

.box-criatividade{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

/* criação da tag de artesão*/
#art {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    position: relative;
    width: 100%;
}

#texto {
    color: white;
    margin: 25px;
    padding: 25px;
    z-index: 1; 
    
}

#texto h1 {
    padding-left: 30px;
    margin-right: 40%;
}

#texto p {
    margin-right: 40%;
    padding: 30px;
}

#img {
    position: absolute;
    margin-left: 65%;
}

#img img {
    width: 80%;
    margin-right: 50%;
    border-radius: 8px; 
    margin-top: 50px;
    animation: floatImage 4s ease-in-out infinite;
    animation-delay: 3.1s; 
}

#art-botao {
    margin-top: 10px;
    margin-left: 25px;
}

#art-botao button {
    background-color: transparent;
    border: #1C358C solid 2px;
    color: white;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: .3s ease; 
}

#art-botao button:hover {
    background: linear-gradient(91deg, #1C358C -6.25%, #1568B5 116.9%); 
    transform: scale(1.1);
}
#parceiros{
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 120px;
}
#titulo h1{
    margin-bottom: 40px;
    text-align: center;
}
#elementos{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 100px;
   
}
.empresa {
    width: 40%; 
    max-width: 150px; 
}

/* -------- KEYFRAMES ---------*/

@keyframes floatImage{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-50px);
    }
    100%{
        transform: translateY(0);
    }
}