nav,
.menu-conteudo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}

.menu-conteudo {
    justify-content: space-between;
    width: calc(100% - 900px);
}

nav {
    width: 100%;
    justify-content: space-around;
}

nav,
.a-Azul {
    position: relative;
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    font-family: var(--primary-font);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.336);
    transition: 0.6s;
}

nav .a-Azul:hover {
    font-size: 25px;
    font-weight: 600;
}


nav .a-Azul::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #2057E3;
    transition: .4s;
}

nav .a-Azul:hover::before {
    width: 100%;
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    text-wrap: nowrap;
}

ul .a-Azul{
    margin: 0 35px;
}

ul>li {
    font-size: 22px;
    color: #fff;
    transition: .6s;
}

ul>li:hover {
    font-size: 24px;
    font-weight: 700;
    transition: .6s;
}

.buttons-header {
    display: flex;
    flex-direction: row;
    gap: 35px;
}

.button-cadastrar, .button-entrar{
    padding: 6px 45px 6px 45px;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    cursor: pointer;
}

.button-entrar {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
}

.button-cadastrar {
    border: none;
    background-color: #2057E3;
    color: #fff;
    font-weight: 550;
    transition: .7s;
}

.button-cadastrar:hover {
    border: 0.5px solid #fff;
    background-color: #204bb8;
    box-shadow: rgb(255, 255, 255) 0px 0px 6px;
    transition: .7s;
}

nav .menu {

    position: absolute;
    top: 1.3rem;
    left: 1rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
    cursor: pointer;
}

.some{
    display: none;
}

nav .menu .navAzul {
    height: 0.4rem;
    width: 100%;
    background-color: #204bb8;
    border-radius: 0.2rem;
}

@media (max-width: 1300px) {
    .menu-conteudo {
        width: calc(100% - 530px);
    }
    .buttons-header.aberto{
        align-items: center;
    }
}

@media (max-width: 1235px) {
    .menu-conteudo {
        width: calc(100% - 410px);
    }

    ul a {
        margin: 0 20px;
    }
}

@media (max-width: 1135px) {
    .menu-conteudo {
        width: calc(100% - 390px);
    }
}

@media (max-width: 1024px) {
    ul a {
        margin: 0 10px;
    }
}

@media (max-width: 1024px) {
    nav .menu {
        display: flex;
    }

    nav {
        flex-direction: column;
    }

    .buttons-header {
        display: none;
    }

    .menu-conteudo {
        display: none;
        background: #030D25;
        width: 100%;
        padding: 15px 30px;
        flex-direction: column;
    }

    nav ul {
        display: none;
        flex-direction: row;
        align-items: center;
        gap: 0;
    }

    nav ul.aberto,
    .buttons-header.aberto,
    .menu-conteudo.aberto {
        display: flex;
    }

    a {
        padding: 10px 0;
    }

    .buttons-header {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-bottom: 1.25rem;
    }

}