* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#container-usuario{
    height: 100%;
    width: 100vw;
    display: flex;
}
.perfil-usuario  img{

width: 200px;
height: 200px;
}
.header-usuario{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) -15.25%, #1657B9 127.98%), url(../../assets/img/fundo-perfilprofile.png);
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100vw;
    height: 65vh;
}
.header-usuario h1{
    color: #fff;
    text-shadow:0px 3px 3px rgba(0, 0, 0, 0.25);
    font-size: 65px; 
    font-weight: 600;
    padding-top: 125px;
}
.perfil-usuario{
    display: flex;
    text-align: center;
    align-items: center;
    margin: 150px;
    

}

.perfil-usuario form label{
    font-size: 24px;

}
.perfil-usuario input{
   color: black;
   font-family: var(--primary-font);
   text-align: center;
       background: #D9D9D9;
       border-radius: 6px;
       width: 300px;
       height: 35px;


       font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.perfil-usuario label {
    font-family: var(--primary-font);
    font-weight: 600;
    margin: 25px;
}