.lista-compra{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
}

.ponto-preto{
    padding: 8px;
    font-size: 20px;
}

.azul{
    color: #0F3FB9;
    font-weight: 600;
    font-size: 21px;
}

.img-urso{
   height: 100%;
   width: 40%;
}

.box-informacoes{
    display: flex;
    flex-direction: column;
    gap: 50px;
    text-align: center;
    margin-right: 40px;
    width: 50%;
    height: 85%;
    align-items: center;
}

.img-perfil{
    height: 35px;
    width: 35px;
    margin-top: 80px;
}

.p-preco{
    margin-top: -35px;
    font-size: 25px;
}

.p-nome{
    margin-top: -46px;
    font-size: 25px;
}

.titulo-compra{
    font-size: 45px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.336);
}

.input-compra{
    width: 280px;
    height: 160px;
    padding: 18px;
    border-radius: 20px;
    border: none;
    border: 1px solid #000;
    outline: none;
    margin-top: 90px;
}

.input-compra::placeholder{
    font-size: 15px;
    font-family: var(--primary-font);
}

.lista-compra li{
    font-size: 18px;
}

.box-informacoes p{
    font-weight: 600;
}

.box-informacoes button{
padding: 15px 60px 15px 60px;
border-radius: 20px;
border: none;
background-color: #061033;
color: #fff;
font-family: var(--primary-font);
cursor: pointer;
font-size: 20px;
margin-top: -30px;
transition: .4s;
}
    
.box-informacoes button:hover{
background-color: #0e2577;

}

@media (max-width: 1500px){
    .img-urso{
        height: 40%;
        width: 100%;
    }
    .titulo-compra{
        font-size: 25px;
    }
    .azul{
        font-size: 18px;
    }
    .input-compra{
        display: none;
    }
    .box-informacoes{
        gap: 1px;
        padding-left: 40px;
    }

    .box-informacoes button{
        padding: 10px 30px 10px 30px;
        border-radius: 20px;
        border: none;
        background-color: #061033;
        color: #fff;
        font-family: var(--primary-font);
        cursor: pointer;
        font-size: 20px;
        margin-top: 50px;
        transition: .4s;
    }
    .p-preco{
        margin-top: 20px;
    }
    .p-nome{
        margin-top: 5px;
        font-size: 20px;
    }
    .img-perfil{
        margin-top: 50px;
    }
  


    
}

@media (max-width: 1400px){
    .img-urso{
        height: 30%;
        width: 100%;
    }
    .titulo-compra{
        font-size: 18px;
        margin-top: -20px;
    }
    .azul{
        font-size: 18px;
    }
    .input-compra{
        display: none;
    }
    .box-informacoes{
        margin-top: 50px;
        gap: 1px;
        padding-left: 60px;
    }

    .box-informacoes button{
        padding: 5px 20px 5px 20px;
    }
    .p-preco{
        font-size: 20px;
        margin-top: 20px;
    }
    .p-nome{
        margin-top: 5px;
        font-size: 18px;
    }
    .img-perfil{
        margin-top: 50px;
    }
    .lista-compra{
        gap: 1px;
        
    }
    
}



@media (max-width: 850px){
    .lista-compra{
        display: none;
    }
    .box-informacoes{
        padding-left: 60px;
    }
    .titulo-compra{
        font-size: 18px;
        margin-top: -20px;
    }
    .box-informacoes button{
        padding: 3px 15px 3px 15px;
    }

}

@media (max-width: 500px){
    .img-urso{
        height: 30%;
    }
    .box-informacoes{
        padding-left: 50px;
    }
}