.lista-compra{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
}

.ponto-preto{
    padding: 8px;
    font-size: 20px;
}

.azul{
    color: #0F3FB9;
    font-weight: 600;
    font-size: 18px;
}

.img-urso{
   height: 40%;
   width: 100%;
}

.box-informacoes{
    display: flex;
    flex-direction: column;
    gap: 45px;
    text-align: center;
    margin-right: 40px;
    height: 43vh;
    width: 65%;
    align-items: center;
}

.img-perfil{
    height: 35px;
    width: 35px;
    margin-top: 10px;
}

.p-preco{
    font-size: 25px;
    font-weight: 600;
}

.p-nome{
    margin-top: -40px;
    font-size: 20px;
}

.titulo-compra{
    margin-top: 20px;
    font-size: 25px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.336);
}

.box-informacoes-compra{
    width: 30%;
    height: 400px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    text-align: center;
    margin-left: 50px;
}

.input-compra{
    width: 145px;
    height: 40px;
    padding: 18px;
    border-radius: 20px;
    border: none;
    border: 1px solid #000;
    outline: none;
    margin-top: 90px;
}

.input-compra::placeholder{
    font-size: 15px;
    font-family: var(--primary-font);
}

.lista-compra li{
    font-size: 16px;
}

.box-informacoes p{
    font-weight: 600;
}

.box-informacoes-compra button{
padding: 6px 25px 6px 25px;
border-radius: 20px;
border: none;
background-color: #061033;
color: #fff;
font-family: var(--primary-font);
cursor: pointer;
font-size: 15px;
transition: .4s;
}
    
.box-informacoes-compra button:hover{
background-color: #0e2577;
}

.box-divisao{
    display: flex;
    flex-direction: row;
}

@media (max-width: 1500px){
    .p-nome{
        font-size: 25px;
    }

    .p-preco{
        font-size: 26px;
    }

    .titulo-compra{
        margin-top: 30px;
        font-size: 25px;
     }

     .lista-compra li{
        font-size: 17px;
    }

    .azul{
        font-size: 20px;
    }

    .box-informacoes{
        gap: 50px;
    }

    .box-informacoes-compra{
       gap: 80px;
    }

    .input-compra{
        width: 140px;
        height: 30px;
        padding: 12px;
        border-radius: 20px;
        
    }

    .box-informacoes-compra button{
        padding: 10px 40px 10px 40px;
    }
 

    
}

@media (max-width: 1450px){
    .p-nome{
        font-size: 25px;
    }

    .p-preco{
        font-size: 26px;
    }

    .titulo-compra{
        margin-top: 30px;
        font-size: 25px;
     }

     .lista-compra li{
        font-size: 17px;
    }

    .azul{
        font-size: 20px;
    }

    .box-informacoes{
        gap: 50px;
    }

    .box-informacoes-compra{
       gap: 80px;
    }

    .input-compra{
        width: 130px;
        height: 30px;
        padding: 12px;
        border-radius: 20px;
        
    }

    .box-informacoes-compra button{
        padding: 10px 20px 10px 20px;
    }
 

}

@media (max-width: 670px){
    .box-informacoes ol{
        display: none;
    }

    .box-informacoes{    
        height: 20vh;
        margin: 0;
        margin-bottom: 40px;
        width: 300px;
    }

    .titulo-compra{
       font-size: 25px;
    }

    .p-nome{
        font-size: 23px;
    }

    .p-preco{
        font-size: 26px;
    }

    .input-compra{
        display: none;
    }

    .box-informacoes-compra{
        height: 15vh;
        width: 200px;
        margin: 0;
        margin-top: -30px;
        gap: 50px;
    
    }


    .box-divisao{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .box-informacoes-compra button{
        margin-top: -50px;
    }
 
}


@media (max-width: 450px){
    
    .box-informacoes{
    
        width: 250px;
        margin-bottom: 100px;
    }
    .box-informacoes-compra{
       
        margin-bottom: 80px;
    }
    .titulo-compra{
        font-size: 26px;
    }
    .p-nome{
        font-size: 22px;
    }

    .box-informacoes-compra{
        width: 150px;
    }

    .box-informacoes-compra button{
        padding: 13px 25px 13px 25px;
    }
}


