.invisible {
    display: none;
}

.card-compra {
    display: flex;
    height: calc(100vh - 150px);
    align-items: center;
    justify-content: space-between;
    margin-inline: 2rem;
    flex-direction: row;
    position: relative;
}

.card-compra > .btn-voltar > .voltar{
    font-size: 20px;
    margin: 0;
    color:rgb(5, 5, 65);
}

.card-compra > .btn-voltar {
    display: flex;
    text-decoration: none;
    gap: 1rem;
    position: absolute;
    top: 10px;
}

.card-compra .hidden {
    display: none;
}

.card-compra>.thumbnails {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

.card-compra>.main-thumbnail {
    border-radius: 10px;
    width: 1100px;
    cursor: pointer;
}

.card-compra .preview {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}

.card-compra .preview img {
    width: 90px;
    border-radius: 10px;
    cursor: pointer;
}

.card-compra .preview img:hover {
    opacity: 60%;
}

.card-compra .preview img.selected {
    border: 2px solid #04143C;
    /* trocar AQUI a cor @leticia*/
    opacity: 50%;
}

.card-compra>.content {
    margin-left: 3rem;
}

.card-compra>.content>.company {
    color: #04143C;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 1rem;
}

.card-compra>.content>.title {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.card-compra>.content>.info {
    color: rgb(5, 5, 65);
    line-height: 1.5;
    margin-bottom: 1rem;
}

.card-compra>.content>.price {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    margin-bottom: 1rem;
}

.card-compra>.content>.price>.new-price {
    display: flex;
    align-items: center;
}

.card-compra>.content>.price>.new-price>p {
    font-size: 1.5rem;
    font-weight: 700;
}

.card-compra>.content>.price>.new-price>span {
    margin-left: 1rem;
    background-color: #ffeee1;
    padding: 0.3rem;
    border-radius: 6px;
    color: #04143C;
    font-weight: 700;
}

.card-compra>.content>.price>.old-price {
    color: rgb(5, 5, 107);
    text-decoration: line-through;
}

.card-compra>.content>.buttons {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
}

.card-compra>.content>.buttons>.amount-btn {
    background-color: #f1f0fa;
    display: flex;
    align-items: center;
    padding: 1rem;
    width: 35%;
    border-radius: 7px;
    justify-content: space-between;
}

.card-compra>.content>.buttons>.amount-btn button {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.card-compra>.content>.buttons>.amount-btn .amount {
    font-weight: 700;
}

.card-compra>.content>.buttons>.add_btn {
    cursor: pointer;
    width: 65%;
    margin-left: 1rem;
    background-color: #04143C;
    color: #FFFFFF;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;
    font-family: inherit;
    border-radius: 7px;
    padding: 1rem;
    text-decoration: none;

}

.card-compra>.content>.buttons>.add_btn:hover {
    opacity: 70%;
}

.card-compra>.content>.buttons>.add_btn > .icons {
    filter: brightness(5);
    font-size: 20px;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .card-compra>.content>.buttons {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .card-compra>.content>.buttons>.amount-btn {
        width: 100%;
    }

    .card-compra>.content>.buttons>.add_btn {
        width: 100%;
        margin-left: 0;
    }

    .card-compra>.content>.title {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 700px) {

    .card-compra > .btn-voltar {
        z-index: 30;
        position: absolute;
        top: 300px;
        left: 0;
    }

    .card-compra .hidden {
        display: flex;
    }

    .card-compra .invisible-mob {
        display: none;
    }


    .card-compra {
        flex-direction: column;
        align-items: center;
        margin-inline: 0;
        height: 100%;
        margin-bottom: 4rem;
    }

    .card-compra>.thumbnails {
        height: 40%;
        max-width: none;
    }


    .card-compra>.content {
        margin: 2rem;
        height: 50%;
    }

    .card-compra .preview {
        display: none;
    }

    .card-compra>.thumbnails>.mobile-thumb {
        position: relative;
        display: flex;
        overflow-x: hidden;
        min-width: 95vw;
        margin-top: -.5rem;
        z-index: 3;
    }

    .card-compra>.thumbnails>.mobile-thumb img {
        object-fit: cover;
        width: 100%;
        z-index: 3;
    }

    .card-compra>.content>.title {
        font-size: 2.2rem;
    }

    .card-compra>.content>.price {
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        justify-content: space-between;
    }

    .card-compra>.thumbnails>.mobile-thumb #next {
        position: absolute;
        right: 10%;
        top: 50%;
        border: none;
        background-color: #FFFFFF;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        text-align: center;
        cursor: pointer;
        z-index: 10;
    }

    .card-compra>.thumbnails>.mobile-thumb #previous {
        position: absolute;
        left: 10%;
        top: 50%;
        border: none;
        background-color: #FFFFFF;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        text-align: center;
        cursor: pointer;
        z-index: 10;
    }

    .card-compra>.thumbnails>.mobile-thumb #next img,
    .card-compra>.thumbnails>.mobile-thumb #previous img {
        width: 15px;
    }
    
}