.integrante img{                   
    margin: 20px;
    border-radius: 500px;
    width: 150px;
    height: 150px;
}

.integrante{
    margin: 20px;
    width: 300px;
    height: 400px;
    background: linear-gradient(198deg, #0E1F4B -3.75%, #334F79 104.31%);
    box-shadow: 0px 0px 17.9px 0px rgba(0, 0, 0, 0.45);
    border-radius: 12px;
}

.integrante h3{
    color: var(--B-S60, #ffffff);
    text-align: center;
    font-size: 25px;
    font-weight: 700;
}
.integrante p{
    color: var(--BW-S80, #abc3ff);
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}
.integrante a{
    cursor: pointer;
}
.icons{
    font-size: 25px;
    margin: 24px;
    margin-top: 60px;
    color: #fff;
}

@media (max-width: 1024px) {

    .integrante{
        width: 250px;
        height: max-content;
    }

    .integrante img {   
        width: 100px;
        height: 100px;
    }

    .integrante h3{
        font-size: 20px;
    }

    .integrante p{
        font-size: 12px;
    }

}

@media (max-width: 426px) {
    .integrante{
        width: 150px;
        height: 240px;
        margin: 6px;
        padding: 6px;
        box-shadow: 0px 0px 3.9px 0px rgba(0, 0, 0, 0.45);
    }

    .integrante img {   
        width: 70px;
        height: 70px;
    }

    .integrante h3{
        font-size: 16px;
    }

    .integrante p{
        font-size: 10px;
    }

    .icons {
        margin: 6px;
    }
}

@media (max-width: 325px) {
    .integrante{
        width: 200px;
        margin: 8px;
        padding-bottom: 4px;
        box-shadow: 0px 0px 6.9px 0px rgba(0, 0, 0, 0.45);
    }

    .integrante img {   
        width: 80px;
        height: 80px;
    }

    .integrante h3{
        font-size: 18px;
    }

    .integrante p{
        font-size: 12px;
    }

    .icons {
        margin: 8px;
    }
}