.integrante img{                   
    margin: 20px;
    border-radius: 500px;
    width: 150px;
    height: 150px;
}

.integrante{
    margin: 20px;
    width: 300px;
    height: 400px;
    background: linear-gradient(198deg, #0E1F4B -3.75%, #334F79 104.31%);
    box-shadow: 0px 0px 17.9px 0px rgba(0, 0, 0, 0.45);
}

.integrante h3{
    color: var(--B-S60, #ffffff);
    text-align: center;
    font-size: 25px;
    font-weight: 700;
}
.integrante p{
    color: var(--BW-S80, #abc3ff);
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 20px;
}
.integrante a{
    cursor: pointer;
}
.icons{
    font-size: 25px;
    margin: 24px;
}
