*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    font-family: var(--primary-font);
    overflow-x: hidden;
}

#container-compra{
    width: 100vw;
    height: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-compra{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(#00000000, #0a154e), url(../../assets/img/banner-compra.png);
    background-size: cover;
    background-position: center;
    position: relative;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100%;
    height: 65vh;
}

.header-compra h1{
    color: #fff;
    text-shadow:0px 3px 3px rgba(0, 0, 0, 0.25);
    font-size: 100px;
    font-weight: 600;
    padding-top: 165px;
}

.sessao-compra{
    width: 65%;
    height: 110vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-compra{
    height: 85%;
    width: 85%;
    border-radius: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgb(0, 0, 0) 0px 1px 12px;
}

@media (max-width: 1500px){
    .box-compra{
        flex-direction: column;
        height: 75%;
        width: 60%;
        border-radius: 10px;
        border-top-left-radius: 45px;
    }

}

@media (max-width: 1000px){
    .header-compra h1{
        padding-top: 300px;
        font-size: 40px;
    }
}

@media (max-width: 850px){
    .box-compra{ 
        height: 50%;
    }
    
}

@media (max-width: 650px){
    .box-compra{ 
        width: 90%;
        height: 55%;
    }
    
}

@media (max-width: 450px){
    .box-compra{ 
        width: 100%;
        height: 65%;
    }

    .header-compra h1{
        padding-top: 160px;
        font-size: 28px;
    }
    
}

@media (max-width: 400px){
    .box-compra{ 
        height: 78%;
    }
    .header-compra h1{
        padding-top: 100px;
    }

    
}