.Noticia{
    width: 320px;
    height: 400px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;

}
.Noticia > img {
    width: 320px;
}
.texto-noticia{
    padding: 8px;
}
.texto-noticia > a{
    color: black;
    text-shadow: none;
}
.texto-noticia h3{
    font-size: 20px;
    margin: 2px;
    margin-bottom: 10px;
}
#linha{
    width: 275px;
    height: 1px;
    background: #9E9E9E;
    margin: auto;
}
.texto-noticia p {
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    margin: 10px;
}
.data{
    color: var(--BW-S65, #454545);
}