* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-login {
    width: 100vw;
    height: 100vh;
    display: flex;
    background: linear-gradient(0deg, rgba(109, 114, 128, 0.00) -8.39%, rgba(13, 37, 80, 0.62) 69.37%, #0D2550 98.93%), url(../../assets/img/fundo-login.png) no-repeat;
    background-size: cover;
}

.img-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    
}

.img-login img {
    width: 200px;
    height: 60px;
    margin: 50px;
}

.lado-esquerdo {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 55vw;
    justify-content: center;
    background-color: white;
    border-radius: 25px 0px 0px 25px;
    position: relative;
}

.lado-esquerdo > a button {
    width: 125px;
    height: 53px;
    border-radius: 15px;
    border: 2px solid #000;
    font-family: var(--primary-font);
    font-size: 20px;
    background: rgba(255, 255, 255, 0.00);
    margin: 25px;
    cursor: pointer;
    position: absolute;
    top: 10px; 
    right: 68%;
    transform: translateX(-50%);
}

.lado-esquerdo > a svg {
    margin-right: 5px;
}
.lado-esquerdo h1 {
    margin-bottom: 45px;
}
.login-email{
    display: flex;
    flex-direction: column;
    flex-direction: column;
 align-items: center;
 align-content: center;
 font-weight: 600;
}
.email {
    margin-bottom: 10px;
    display: flex;
    text-align: left;
    flex-direction: column;

}

.email input {
    border-radius: 25px;
    background: #D9D9D9;
    font-family: var(--primary-font);
    width: 300px;
   height: 40px;
   background-image: url(../../assets/img/email.svg);
   background-size: 20px 20px;
   background-repeat: no-repeat;
   background-position: center right 10px;
   padding-left: 20px;
   padding-right: 40px;
   border: none;
}

.senha{
    margin-bottom: 10px;
    display: flex;
    text-align: left;
    flex-direction: column;
}
.senha input{
    border-radius: 25px;
    background: #D9D9D9;
    width: 300px;
    font-family: var(--primary-font);
   height: 40px;
   border: none;
   background-image: url(../../assets/img/senha.svg);
   background-size: 20px 20px;
   background-repeat: no-repeat;
   background-position: center right 10px;
   padding-left: 20px;
   padding-right: 40px;
}
.flex-login{
    display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-weight: 500;
  margin-bottom: 25px;
}
.recuperarSenha{
    margin-left: 25px;
}
.form-error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }
  .container-fim{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
  }
  .button {
    display: inline-flex;
    padding: 6px 40px;
    justify-content: center;
    align-items: center;
    gap: 10.062px;
    border: none;
    border-radius: 33.456px;
    background: #0F3FB9;
    color: white; 
    font-size: 20px;
    font-family: var(--primary-font);
    text-decoration: none; 
    cursor: pointer;
    margin: 25px;
}

.button:hover {
    background: #0C2F94; /* Change background color on hover if needed */
}