@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&display=swap');

:root {
    --primary-font: 'Poppins' , sans-serif;
    --secondary-font : 'Roboto' , sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
  } 
  
  .reveal.active{
    transform: translateY(0px);
    opacity: 1;
  }