.icones {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 35px;
    justify-content: center;
    flex-wrap: wrap;
}

.icone img {
    width: 55px;
    height: 60px;
}


.icone h3 {
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
}

.icone p {
    color: #FFF;
    font-size: 14.8px;
    font-weight: 400;
    text-align: center;
}

.icone {
    background-color:#0f3fb9b0;
    width: 325px;
    height: 275px;
    padding: 10px;
    border: 1px solid var(--B-S80, #ffffff);
    border-radius: 18px;
    gap: 12px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 320px) {
    .icone {
        width: 300px;
    }
}