* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#container-sobre{
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    font-family: var(--primary-font);
    overflow-x: hidden;
}

.header-sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) -15.25%, #1657B9 127.98%), url(../../assets/img/pincel.svg);
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    height: 65vh;
}

.header-sobre h1{
    color: #fff;
    text-shadow:0px 3px 3px rgba(0, 0, 0, 0.25);
    font-size: 65px;
    font-weight: 600;
    padding-top: 200px;
}

.sobre-recifart{
    margin: 100px ;
    background-color: #fff; 
    width: 50%;
} 

.sobre-recifart p {
    color: #404140;  
    font-size: 26px;
}

.missaobloco{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(178deg, rgba(10, 46, 140, 0.00) -55.24%, #0A2E8C 110.13%),url(../../assets/img/fundo-missao.png) no-repeat;
    background-size:cover;
    padding: 50px;
    width: 100%;
    height: 100%;
    background-position:center;

} 
.texto-missao h1{
    color: #FFF;
    text-align: center;
    font-size: 65px;
}

.texto-missao p {
    color: #FFF;
    font-size: 18px;

}
 .imagens{
        padding: 50px;
        display: flex;
        width: 100%;
        justify-content: space-around;
}

