* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#container-sobre{
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    font-family: var(--primary-font);
    overflow-x: hidden;
}

.header-sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) -15.25%, #1657B9 127.98%), url(../../assets/img/pincel.svg);
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100vw;
    height: 65vh;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.header-sobre h1{
    color: #fff;
    text-shadow:0px 3px 3px rgba(0, 0, 0, 0.25);
    font-size: 65px;
    font-weight: 600;
    padding-top: 190px;
}

.sobre-recifart {
    padding: 100px 20px;
    background-color: #fff;
    max-width: 960px;
} 

.sobre-recifart p {
    color: #404140;  
    font-size: 26px;
    font-weight: 700;
}

.missaobloco{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(178deg, rgba(10, 46, 140, 0.00) -55.24%, #0A2E8C 110.13%),url(../../assets/img/fundo-missao.png) no-repeat;
    background-size:cover;
    padding: 50px;
    width: 100%;
    height: 100%;
    background-position:center;

} 
.texto-missao h1{
    color: #FFF;
    text-align: center;
    font-size: 65px;
}

.texto-missao p {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2.5px;
}
 .imagens {
    padding: 50px 20px;
    display: flex;
    width: 80vw;
    justify-content: center;
    flex-wrap: wrap;
    gap: 80px;
    
    
}

.imagens img {
    padding: 10px;
    max-width: 450px;
    transition: 0.5s;
}

.tituloequipe{
    margin: 60px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    
}
.tituloequipe h1{        
    font-size: 65px;
    font-weight: 600;
}

.tituloequipe > h1 > span {
   color: #2057E3 ;
}

.tituloequipe p{
    max-width: 1000px;
    margin: 20px;
    font-size: 20px;
    font-weight: 700;
    justify-content: center;         
    
}
.equipe{
    display: flex;    
    justify-content: center;
    width: 95vw;
    max-width: 1024px;
    margin-bottom: 65px;
    align-items: center;
    text-align: center;
    flex-wrap: wrap
}

.box-sobreMim{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    /*border: 1px solid red;*/
    height: 100vh;
    }
    
    #sobreMim{
      margin-bottom: 30px;
      
    }
    
    .sobreMim{
    display: flex;
    flex-direction: column;
    gap: 40px;
    color: #000000;
    }
    
    .text2{
      font-size: 22px;
      font-family: var(--primary-font);
      line-height: 2rem;
      letter-spacing: 0.05rem;
      max-width: 650px;
      color: #000;

    }
    
    .sobreMimText{
        color:  #2057E3
    }
    
    .box-sobreMim h3 {
        font-family: 'Poppins', sans-serif;
    font-size: 42px;
    text-align: center;
    font-weight: 30;
    }
    
    .box_text_mobile{
      display: none;
    }
    
    .home-img{
        margin-top: 50px;
        width: 410px;
        height: 410px;
        animation: floatImage 4s ease-in-out infinite;
        animation-delay: 3.1s; 
        /* border: 1px solid red;  */
    }
    
    .home-img .glowing-circle{
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .home-img .glowing-circle::after{
       content: "";
       position: absolute;
       width: 380px;
       height: 380px;
       background: #1a2b3c;
       border-radius: 50%;
    }
    
    .glowing-circle span{
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(rgb(0, 140, 221),rgb(0, 16, 105));
        border-radius: 50%;
        animation: circleRotate 5s linear infinite;
    }
    
    .glowing-circle span:nth-child(1){
       filter: blur(10px);
    }
    
    .glowing-circle .image{
        position: relative;
        width: 380px;
        height: 380px;
        border-radius: 50%;
        z-index: 1;
        overflow: hidden;
    }
    
    .image img{
        position: absolute;
        top: 0px;
        left: -90px;
        max-width: 510px;
        object-fit: cover; 
        border-radius: 200px;
        
    }
    
    .btn {
      font-family: 'Poppins', sans-serif;
      font-size: 1rem;
      padding: 0.85em 1.345em;
      font-weight: bold;
      border-radius: 0.5em;
      margin: auto;
      letter-spacing: 2px;
      cursor: pointer;
      max-width: 12rem;
      border: 3px solid #3bc928;
      transition: all 2s;
    }
    
    .btn:hover{
     background: #3bc928;
     transition: all 2s;
    }
    
    
    /* keyframes */

    @keyframes circleRotate {
        0%{
         transform: rotate(0);
        }
        100%{
         transform: rotate(360deg);
        }
     }
    

/* responsividade */

@media (max-width: 1024px) {
    .imagens img {
        max-width: 320px;
    }
}

@media (max-width: 850px) {
    .imagens img {
        max-width: 280px;
    }
}

@media (max-width: 768px) {
    .tituloequipe h1 {
        font-size: 45px;
    }
}

@media (max-width: 426px) {

    .tituloequipe {
        margin: 60px 20px;
    }

    .header-sobre h1{
        font-size: 50px;
    }

    .missaobloco {
        padding: 30px 10px;
    }

    .sobre-recifart p {
        font-size: 20px;
    }
    .header-sobre{
        height: 70vh;
    }
}